<!--Footer-->
<div class="row w-100 pt-2">
    <div class="col-12 py-3 bg-secondary">
      <footer class="bg-light text-center text-lg-start">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">About</h5>
            <ul>
              <li>Link</li>
              <li>Link</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contact</h5>
            <ul>
              <li>Link</li>
              <li>Link</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Help</h5>
            <ul>
              <li>Link</li>
              <li>Link</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
            <ul>
              <li>Link</li>
              <li>Link</li>
            </ul>
          </div>
  
        </div>
      </footer>
    </div>
  </div>