<div class="sticky-right">
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="IBAN" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">123-456-789</span>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputAddress">Address</label>
            <input type="address" class="form-control" id="exampleInputAddress" aria-describedby="emailHelp"
                placeholder="Enter address">
            <small id="emailHelp" class="form-text text-muted">We'll never share your address with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputPhone">Phone</label>
            <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp"
                placeholder="Enter phone number">
            <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Download Invoice</button>
        <hr>
        <br>
        <button type="submit" class="btn btn-primary">BUY</button>
    </form>
</div>